<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Barcode</th>
                <th>Unit Measure</th>
                <th>Inventory</th>
                <th>Unit Cost</th>
            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td>{{ item.itemcode }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.unitmeasure }}</td>
                <td>{{ item.inventory }}</td>
                <td>{{ item.unitcost }}</td>
            </tr>
 
        </tbody>
    </table>
</body>
</html>
